{
  "name": "[[ package_name]]",
  "version": "1.0.0",
  "description": "[[ package_name_capitalized]] App",
  "main": "launcher.js",
  "author": "[[ package_name]]@example.com",
  "homepage": "https://example.com",
  "scripts": {
    "start": "electron .",
    "build": "electron-builder"
  },
  "build": {
    "appId": "com.[[ package_name]].app",
    "productName": "[[ package_name_capitalized]]",
    "files": [
      "launcher.js",
      "main.js",
      "port_diagnostics.js",
      "resources/icon.png"
    ],
    "linux": {
      "target": "deb",
      "icon": "resources/icon.png",
      "category": "Utility"
    },
    "deb": {
      "maintainer": "[[ package_name]]@example.com",
      "afterInstall": "resources/postinst",
      "afterRemove": "resources/postrm"
    },
    "extraResources": [
      {
        "from": "../dist/server",
        "to": "server"
      },
      {
        "from": "../frontend/dist",
        "to": "frontend"
      },
      {
        "from": "../configs",
        "to": "configs",
        "filter": [
          "!global_config.yaml"
        ]
      },
      {
        "from": "../scripts",
        "to": "scripts",
        "filter": [
          "**/*"
        ]
      }
    ]
  },
  "dependencies": {
    "js-yaml": "4.1.0"
  },
  "devDependencies": {
    "electron": "39.2.4",
    "electron-builder": "26.0.12"
  }
}
