{
  "name": "[[ package_name]]",
  "version": "1.0.0",
  "description": "[[ package_name_capitalized]] App",
  "main": "launcher.js",
  "author": "[[ package_name]]@example.com",
  "homepage": "https://example.com",
  "scripts": {
    "prestart": "node prepare.js",
    "prebuild": "node prepare.js",
    "start": "electron .",
    "build": "electron-builder"
  },
  "build": {
    "appId": "com.[[ package_name]].app",
    "productName": "[[ package_name_capitalized]]",
    "files": [
      "preload.js",
      "launcher.js",
      "main.js",
      "port_diagnostics.js"[% if icon_path %],
      "resources/icon.png"[% endif %]
    ],
    "linux": {
      "target": "deb",
[% if icon_path %]
      "icon": "resources/icon.png",
[% endif %]
      "category": "Utility"
    },
    "win": {
      "target": [{ "target": "nsis", "arch": ["x64"] }][% if icon_path %],
      "icon": "resources/icon.ico"[% endif %]
    },
    "nsis": {
      "oneClick": false,
      "allowToChangeInstallationDirectory": true,
      "perMachine": false,
      "createDesktopShortcut": true,
      "createStartMenuShortcut": true,
      "include": "resources/uninstaller.nsh"
    },
    "deb": {
      "maintainer": "[[ package_name]]@example.com",
      "afterInstall": "resources/postinst.py",
      "afterRemove": "resources/postrm.py"
    },
    "extraResources": [
      {
        "from": "../dist",
        "to": "server-bin",
        "filter": ["server*"]
      },
      {
        "from": "../frontend/dist",
        "to": "frontend"
      },
      {
        "from": "../configs",
        "to": "configs",
        "filter": [
          "!secrets.yaml"
        ]
      },
      {
        "from": "../scripts",
        "to": "scripts",
        "filter": [
          "**/*"
        ]
      }
    ]
  },
  "dependencies": {
    "js-yaml": "4.3.1"
  },
  "devDependencies": {
    "electron": "41.10.4",
    "electron-builder": "26.15.3"
  }
}
